<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org.//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 接口的全限定名称-->
<mapper namespace="pqk.project1.openapi.web.master.mapper.CustomerMapper" >
    
    
 <insert id="insertCustomer" parameterType="pqk.project1.openapi.web.master.pojo.Customer">
    <!--LAST_INSERT_ID 将当前事务中最后一个插入的id查询出来，并赋值到KeyProperty中-->
    <selectKey keyProperty="id" resultType="long">
        SELECT LAST_INSERT_ID()
    </selectKey>

     INSERT INTO customer(username,password,nickname,address,money,states) VALUE (#{username},#{password},#{nickname},#{address},#{money},#{states})
 </insert>
    
    
    <update id="updateCustomer" parameterType="pqk.project1.openapi.web.master.pojo.Customer">
        UPDATE customer
        SET
        <trim suffixOverrides=",">
            <if test="username !=null and username!=''">
                username=#{username},
            </if>

            <if test="password !=null and password!=''">
                password = #{password},
            </if>

            <if test="nickname!=null and nickname!=''">
                nickname=#{nickname},
            </if>

            <if test="address!=null and address!=null">
                address=#{address},
            </if>

            <if test="money!=null">
                money=#{money},
            </if>

            <if test="state!=null">
                states =#{states},
            </if>
        </trim>
        WHERE  id=#{id}
    </update>

    <delete id="deleteCustomerById" parameterType="long">
        DELETE FROM customer WHERE  id =#{id}
    </delete>

    <select id="getCustomerById" parameterType="long" resultType="pqk.project1.openapi.web.master.pojo.Customer">
        SELECT id,username,password,nickname,address,money,states
        FROM customer WHERE id=#{id}
    </select>

    <select id="getAllCustomers" parameterType="long" resultType="pqk.project1.openapi.web.master.pojo.Customer">
        SELECT id,username,password,nickname,address,money,states FROM customer
    </select>

    <delete id="deleteCustomerByIds">
        DELETE FROM customer
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>

</mapper>