<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd

		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!--spring-mybatis 用于spring和mybatis的整合，就是spring来管理mybatis的mapper对象，事务，本文件就是用于对象管理的-->

    <!-- 数据库连接的相关信息配置 -->
    <!--  导入配置文件-->
    <context:property-placeholder location="classpath*:conf/db.properties"/>
    <!-- dataSource -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!--配置工厂  -->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--连接池配置-->
        <property name="dataSource" ref="dataSource"></property>
        <!--别名扫描-->
        <property name="typeAliasesPackage" value="com.qianfeng.openapi.web.master.pojo"></property>
        <!-- sql映射文件路径 配置mapper的xml文件的位置 -->
        <property name="mapperLocations" value="classpath*:pqk/project1/openapi/web/master/mapper/*.xml"></property>
        <!--配置mybatis配置文件位置-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
    </bean>
    <!-- 配置扫描mapper的接口位置 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="pqk.project1.openapi.web.master.mapper"></property>
    </bean>
</beans>