<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!--
按照单一职责原则，我们springmvc负责的是我们的controller,所以我们需要扫描controller
-->
    <context:component-scan base-package="pqk.project1.openapi.web.master.controller"></context:component-scan>

    <!--配置我们的各种适配器-->

    <mvc:annotation-driven></mvc:annotation-driven>

    <!--mapping映射 layui开头的都映射到 location具体的位置-->
    <mvc:resources mapping="/layui/**" location="/layui/"></mvc:resources>

</beans>